<h2 class="mt-4 mb-4" id="disclaimer">Disclaimer & Gotchas</h2>

<h4>Disclaimers</h4>

<p>
  🔬 OPTCbx is a proof of concept (PoC) so do not expect outstanding results. 
  As time goes on, this project will become better and better.
</p>

<p>
  🛠 Currently, I am working in a part time job, and I am also coursing a Master's Degree.
  This takes me a lot of time, so do not get desperate if maintenance updates are not frequent.
</p>

<h4>Gotchas</h4>

<ul>
  <li>
    OPTCbx Supports all screens in game where characters appear. But only expect good results with character box.
    OPTCbx is based on Deep learning techniques, meaning that the accuracy of the application is highly related
    to the data used to train the artificial intelligence. Sadly I do not have many training images out of character box.
    I periodically train the OPTCbx object detection model so, as time goes on the application will improve in the different 
    screens.
  </li>
</ul>
