<h2 class="mt-4 mb-4" id="disclaimer">Disclaimer & Gotchas</h2>

<h4>Disclaimers</h4>

<p>
  🔬 OPTCbx is a proof of concept (PoC) so do not expect outstanding results. 
  As time goes on, this project will become better and better.
</p>

<p>
  🛠 Currently, I am working in a part time job, and I am also coursing a Master's Degree.
  This takes me a lot of time, so do not get desperate if maintenance updates are not frequent.
</p>

<h4>Gotchas</h4>

<ul>
  <li>
    OPTCbx works with hand crafted methods which may make the application a bit unstable.
    I am planning to use *Deep Learning* Object Detection approaches to improve the whole pipeline.
  </li>

  <li>
    By now, OPTCbx only works with character box screenshots. In a near future it should work
    with Pirate Festival (AKA Pirate Rumble) and *normal* game teams.
  </li>
</ul>