{% extends "base.html" %}

{% block title %}OPTCbx{% endblock %}

{% block content %}

<h1 class="display-4">OPTC Box Exporter (OPTCbx)</h1>

<p>
  This web application aims to showcase the potential of OPTC Box exporter (OPTCbx). Here
  you will find a short description of what OPTCbx is and also, you will be able to try it.
</p>

{% include 'intro.html' %}

{% include 'demo.html' %}

{% include 'disclaimer.html' %}

<h3 class="display-1 text-center">🎉 <br>Thank you for your support! <br>🎉</h3>

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}