<h2 class="mt-4 mb-4" id="introduction">What OPTCbx is?</h2>

<p>
  This web application aims to showcase the potential of OPTC Box exporter (OPTCbx). Here
  you will find a short description of what OPTCbx is and also, you will be able to try it.
</p>

<p>
  OPTCbx can analyze your character box screenshots, and obtain all the 
  characters within them. OPTCbx does that without any manual intervention.
</p>

<p>
  By its own, OPTCbx, does not have any utility apart from displaying your character 
  box in a fancy manner. 
</p>

<p>
  I rather say that power (or utility) comes with contributions. I believe that OPTCbx can be a key point
  combined with amazing projects such as:
</p>

<ul>
  <li>
    <a href="https://www.nakama.network/">NakamaNetwork</a>:  With OPTCbx you are not far 
    from automatically exporting your teams or your box to this extraordinary website.
  </li>
  <li>
    <a href="https://www.reddit.com/r/OnePieceTC/comments/j60ueg/crew_planner_is_now_available/">CrewPlanner</a>: Imagine that you can export all your characters to CrewPlanner without spending hours introducing your characters one by one. With OPTCbx, you
    will be able to do so with just a few minutes or even seconds 😲.
  </li>
  <li><a href="https://lukforce.bitbucket.io/tm-planner/">TM Planner</a>: OPTCbx would provide the ability to automatically select the 
    characters that you don't own.
    
  </li>
</ul>