<div style="position: fixed; margin:0; padding:0; display: inline-block; padding-left: 20px; width: inherit; max-width: inherit;">
  <div class="sidebar-header" style="width: 100%;">
    <div class="row align-items-end">
      <div class="col-6">
        <img class="img-fluid" src="{{ url_for('static', filename='images/st_luffy.png') }}">
      </div>
      <div class="col-6">
        <h3 class="display-4" style="font-size: 2.2em; "><b>OPTCbx</b></h3>
      </div>
    </div>
  </div>
  
  <ul class="list-unstyled components">
    <li>
      <a href="#introduction">Introduction</a>
    </li>
    <li>
      <a href="#demo">Try it out</a>
    </li>
    <li>
      <a href="#disclaimer">Disclaimer and Gotchas</a>
    </li>
    <li>
      <a href="https://github.com/Guillem96/optc-box-exporter"><i class="fab fa-github-alt"></i> Star GitHub Repo</a>
    </li>
  </ul>
</div>