# Data
/data/*/*
!/data/screenshots/*.jpg

# Intermediate data
tools/units.js*
tools/modifiedUnits.js

# Python
*.pyc
__pycache__/

# Visual Studio Code
.vscode/
.DS_Store

.env
*.zip

# AI
/ai/*
!/ai/prepare-ai.sh
